.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30em;
	height: 30em;
	padding: 0 2.5em;
	border-radius: 18px;
	background-color: var(--White);
}
.container img {
	margin-top: 15em;
	height: 50px;
	width: 50px;
}
.dismiss {
	margin-top: 15em;
}
.container button {
	margin: 6em 0;
}
span {
	font-weight: bold;
}
@media (max-width: 768px) {
	.container {
		height: 100vh;
		display: flex;
		margin: 0 auto;
	}
	.container button {
		margin-top: auto;
	}
}
@media (max-width: 480px) {
	.container {
		width: 20em;
		height: 100vh;
	}
}
@media (min-width: 768px) {
	.container img {
		margin-top: 5em;
	}
}